<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UniMeteo | Il tuo servizio metereologico a portata di click e onlie. Air quality index, humidity, wind speed e meteo per i giorni futuri">
    <meta name="keywords" content="Meteo, Città, Previsioni, Clima, Tempo, Temperatura, Precipitazioni">
    <meta name="author" content="Omar Daniel, 01664A, Università degli Studi di Milano">
    <script src="/meta/schema.json"></script>
    <!-- Titolo della pagina -->
    <title>UniMeteo | Il tuo servizio meteo online!</title>
    <!-- Collegamento css -->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/cover.css">
    <link rel="stylesheet" href="css/personal.css">
    <!-- Css per icone social -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
    <link rel="stylesheet" href="css/social_icon.css">
    <link rel="icon" type="image/x-icon" href="img/icona.png">
    <!-- Css per animazioni -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">UniMeteo</h3>
      <!-- Nav bar con collegamenti alle pagine -->
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="/meteo">Meteo</a>
      </nav>
    </div>
  </header>
  <!-- Main della pagina, con titolo, descrizione e bottone -->
  <main class="px-3">
    <h1 class="typewriter">UniMeteo.</h1>
    <p class="lead">UniMeteo è il tuo servizio metereologico online e a portata di click!. Tutte le info sul meteo aggiornate in tempo reale, con AirQuality
      index e previsioni per i successivi 3 giorni di qualsiasi città sul globo!<br><b>SCOPRILO ORA</b></p>
    <p class="lead">
      <a href="/meteo" class="btn btn-lg btn-info animate__animated animate__jackInTheBox">Cerca la tua città</a>
    </p>
  </main>
  <!-- Footer con indicazione tramite bottone a social network -->
  <footer class="mt-auto text-white-50">
    <div class="wrapper">
      <a href="https://github.com/omarrdaniel" class="icon github" target="_blank">
        <div class="tooltip">Github</div>
        <span><i class="fab fa-github"></i></span>
      </a>
      <a href="https://www.linkedin.com/in/omarrdaniel/" class="icon linkedin" target="_blank">
        <div class="tooltip">Linkedin</div>
        <span><i class="fab fa-linkedin"></i></span>
      </a>
    </div>
    <p>Daniel Omar, 01664A - Università degli Studi di Milano - 2021/22 &copy;</p>
  </footer>
</div>
  </body>
</html>
